

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uffes öl</title>
	<script src="https://kit.fontawesome.com/8e94a101ac.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
	<link href="~/css/stylesheet" type="text/css" rel="stylesheet" />
	<meta name="description"
		content=" Gesällprov webbutveckling 1"/> 
	<meta name="author"
		content=" Johan Erlesand" />
	<meta name="generator"
		content=" Notepad++" />
	<meta name="keywords"
		content="Johan,Erlesand,öl,webbutveckling 1, Gesällprov"/>
	<meta name="robots"
		content="all"/>
	<meta charset="utf-8" />	
	<meta name="viewport" 
		content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />
</head>
<body>
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Uffes öl</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    <div class="wrapper_nav">
        
				<div class="sidebar_right">
					<nav>
						<ul>
							<li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a></li>
						<h3> Recept </h3>
						<ul>
							<li> <a asp-controller="Recipe" asp-action="Lager"> <i class="fas fa-beer"> </i> Lager  </i></a>  </i></li>
							<li> <a asp-controller="Recipe" asp-action="Lager"> <i class="fas fa-beer"></i> IPA </a> </li>
						</ul>
						<h3> Etikett </h3>
						<ul>
                            <li> <a asp-controller="Label" asp-action="Examples"><i class="fas fa-tags"> </i> Färdiga exempel </a> </li>
                            <li> <a asp-controller="Label" asp-action="UpploadOwn"><i class="fas fa-folder"></i> Ladda upp egen </a> </li>
						</ul>
						<h3> Boka Tid </h3>
						<ul>
							<li> <a class="one" href="ledigatider.html"><i class="far fa-calendar-alt"></i> Lediga tider </a> </li>
						</ul>
						<h3> Mitt Konto </h3>
						<ul>
							<li> <a class="one" href="sparaderecept.html"><i class="fas fa-concierge-bell"></i> Mina sparade recept</a> </li>
							<li> <a class="one" href="etiketter.html"><i class="fas fa-tags"></i> Mina etiketter </a> </li>
							<li> <a class="one" href="gjordebestallningar.html"><i class="fas fa-shopping-cart"></i> Mina gjorde beställningar </a> </li>
						</ul>
					</nav>
				</div>
			</div>
    <div id="home">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Uffes öl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
