<!DOCTYPE html>

<html lang="sv">

<head>
	<title> ledigatider </title>
	<script src="https://kit.fontawesome.com/8e94a101ac.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
	<link href="stylesheet.css" type="text/css" rel="stylesheet" />
	<meta name="description" content=" Gesällprov webbutveckling 1" />
	<meta name="author" content=" Johan Erlesand" />
	<meta name="generator" content=" Notepad++" />
	<meta name="keywords" content="Johan,Erlesand,öl,webbutveckling 1, Gesällprov" />
	<meta name="robots" content="all" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<header>
		<h1> Lediga tider </h1>
	</header>
	<div class="wrapper">
		<div class="sidebar_right">
			<nav>
				<ul>
					<li><a href="home.html"><i class="fas fa-home"></i></a></li>
					<h3> Recept </h3>
					<ul>
						<li> <a class="one" href="lager.html"><i class="fas fa-beer"></i> Lager </a> </li>
						<li> <a class="one" href="lager.html"> <i class="fas fa-beer"></i> IPA </a> </li>
					</ul>
					<h3> Etikett </h3>
					<ul>
						<li> <a class="one" href="fardigaexempel.html"><i class="fas fa-tags"></i> Färdiga exempel </a>
						</li>
						<li> <a class="one" href="laddaupp.html"><i class="fas fa-folder"></i> Ladda upp egen </a> </li>
					</ul>
					<h3> Boka Tid </h3>
					<ul>
						<li> <a class="one" href="ledigatider.html"><i class="far fa-calendar-alt"></i> Lediga tider
							</a> </li>
					</ul>
					<h3> Mitt Konto </h3>
					<ul>
						<li> <a class="one" href="sparaderecept.html"><i class="fas fa-concierge-bell"></i> Mina sparade
								recept</a> </li>
						<li> <a class="one" href="etiketter.html"><i class="fas fa-tags"></i> Mina etiketter </a> </li>
						<li> <a class="one" href="gjordebestallningar.html"><i class="fas fa-shopping-cart"></i> Mina
								gjorde beställningar </a> </li>
					</ul>
			</nav>
		</div>
	</div>
</body>