@{
    ViewData["Title"] = "Uppload Label";
   
}
<!DOCTYPE html>

<html lang="sv">

<head>
	<title> laddaupp </title>
	<script src="https://kit.fontawesome.com/8e94a101ac.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
	<link href="stylesheet.css" type="text/css" rel="stylesheet" />
	<meta name="description"
		content=" Gesällprov webbutveckling 1"/> 
	<meta name="author"
		content=" Johan Erlesand" />
	<meta name="generator"
		content=" Notepad++" />
	<meta name="keywords"
		content="Johan,Erlesand,öl,webbutveckling 1, Gesällprov"/>
	<meta name="robots"
		content="all"/>
	<meta charset="utf-8" />	
	<meta name="viewport" 
		content="width=device-width, initial-scale=1.0"/>

</head>
<body>
	<header>
		<h1> Ladda upp etikett </h1>
	</header>
		
</body>