@model PersonAccount

<!DOCTYPE html>
<html lang="sv">
<body>
	<div id="home">
		<div class="container top">
			<header> 
				<h1> Österskärs Bryggeri </h1>
			</header>
			<main>
				<h2> Hej Welcome @Html.DisplayNameFor(model => model.Firstname), brygg ditt eget öl </h2>
				<p> Brygg ditt eget öl med hjälp utav våra standardrecept eller konstruera ditt eget efter dina önskemål.
					Designa sedan din etikett för att fästas på flaskan före leverans. 
					Vi pressar småskaligt med batchstorlekar om ca 15 liter.</p>
			</main>	
		</div>

			<div class="wrapper_nav">
				<div class="sidebar_right">
					<nav>
						<ul>
							<li><a href="home.html"><i class="fas fa-home"></i></a></li>
						<h3> Recept </h3>
						<ul>
							<li> <a asp-controller="Recipe" asp-action="Lager"></i> Lager </a> </li>
							<li> <a class="one" href="lager.cshtml"> <i class="fas fa-beer"></i> IPA </a> </li>
						</ul>
						<h3> Etikett </h3>
						<ul>
							<li> <a class="one" href="fardigaexempel.html"><i class="fas fa-tags"></i> Färdiga exempel </a> </li>
							<li> <a class="one" href="laddaupp.html"><i class="fas fa-folder"></i> Ladda upp egen </a> </li>
						</ul>
						<h3> Boka Tid </h3>
						<ul>
							<li> <a class="one" href="ledigatider.html"><i class="far fa-calendar-alt"></i> Lediga tider </a> </li>
						</ul>
						<h3> Mitt Konto </h3>
						<ul>
							<li> <a class="one" href="sparaderecept.html"><i class="fas fa-concierge-bell"></i> Mina sparade recept</a> </li>
							<li> <a class="one" href="etiketter.html"><i class="fas fa-tags"></i> Mina etiketter </a> </li>
							<li> <a class="one" href="gjordebestallningar.html"><i class="fas fa-shopping-cart"></i> Mina gjorde beställningar </a> </li>
						</ul>
					</nav>
				</div>
			</div>
		<section class="content ">

			
			<div class=" container grid">
			<img src="borg.png" >	

				<div class="show-text howto">
					<h3>Att brygga egen öl</h3>
					<p>	"Lorem ipsum dolor sit amet, consectetur 
						adipiscing elit, sed do eiusmod tempor incididunt 
						ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in 
						reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
						sunt in culpa qui officia deserunt mollit anim id est laborum."	</p>
				</div>
				<div class="show-text history">
					<h3>Historia</h3>
					<p>	"Lorem ipsum dolor sit amet, consectetur 
						adipiscing elit, sed do eiusmod tempor incididunt 
						ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in 
						reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
						sunt in culpa qui officia deserunt mollit anim id est laborum."	</p>
				</div>
				<div class="show-text about">
					<h3>Om oss</h3>
					<p>	"Lorem ipsum dolor sit amet, consectetur 
						adipiscing elit, sed do eiusmod tempor incididunt 
						ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip 
						ex ea commodo consequat. Duis aute irure dolor in 
						reprehenderit in voluptate velit esse cillum dolore eu 
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
						sunt in culpa qui officia deserunt mollit anim id est laborum."	</p>
				</div>
			</div>
		</section>
		<footer>
			<a  href="mailto:johan.erlesand@gmail.com"> &copy; Johan Erlesand</a>
		</footer>
	</div>
	<script src="jquery-3.6.0.js"></script>
	<script src="~/js/scripts.js"></script>
</body>